<style>
  .grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
  .grid > article img {
    max-width: 100%;
  }
  /*.text {
    padding: 0 5px 5px;
  }*/
  .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 5px;
    width: 100%;
    }
    
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(129, 79, 79);
  color: white;
  font-size: 15px;
  text-align: center;
}
  </style>
<div style="background-color: #c5bdbd; min-height: 91vh; padding: 24px; background-image:url(../assets/img/back.png);background-size: cover;">
  <div style="padding-top: 10px;"></div>
<main class="grid">
  <div style="margin-top: 10px; " class="child" *ngFor="let car of cars">
    <div nz-row style="background-color: #ccc; padding: 24px;">
     
        <img class="profile" style="height: 130px; border-radius: 10px; object-fit: cover;" [src]="car.processedImage"
          alt="profile">
      
      <div class="text">
      
        <h3 style="cursor: pointer; color: #108ee9;">{{car.brand}} - <b>{{car.name}}</b></h3>

        <p>Desc: <b>{{car.description}}</b></p>

        <hr>

        <h5>Price: <b>&#8377;{{car.price}}</b> - <br>Color : <b>{{car.color}}</b> -<br>Transmission: <b>{{car.transmission}}</b> -<br>
          Type : <b>{{car.type}}</b> -<br> Year : <b>{{car.year}}</b>
        </h5>

        <div style="float: right;">
          <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary"
            routerLink="/admin/car/{{car.id}}">Update</button>

          <button style="margin-left: 10px;" nzSize="small" nz-button nzType="primary" nzDanger
            (click)="deleteCar(car.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

</main>
<div class="footer">

  <p>Copyright &copy; 2024 Developed By <b>Mr.Ram Kumar</b> Best viewed in Mozilla Firefox and Google Chrome.</p>
</div>